/* your styles go here */
.dropdown-toggle::after {
          display:none;
            }
    
 .flex-container {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 60px;
   }

.flex-container > div {
	border:1px solid rgb(184, 184, 184);
  background-color: #fff0;
  width: 40px;
  margin: 4px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color:rgb(94, 94, 94);
}
.flex-container > div:hover{
  border:1px solid #092c42;
  cursor: pointer; 
}
.flex-containercolor {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 10px;
  
  }
  .overflow{
    display: none;
  }

.flex-containercolor > div {
  border:2px solid #52525200;
  width:25px;
  margin: 4px;
  text-align: center;
  height: 25px;
  font-size: 14px;
  border-radius: 25px;
}
.flex-containercolor > div:hover{
  border:2px solid #cd3259;
  cursor: pointer; 
}
.tab {
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0e6;
    background-color: #f1f1f100;
    font-family:'Inconsolata', monospace;
    letter-spacing: 2px;
   
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 90px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    color:white;
    background-color: #092c42;
    
    
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #cd3259;
    color:white;
   
    font-family:'Inconsolata', monospace;
    letter-spacing: 2px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 60px 40px;
    border: 1px solid #e0e0e0e6;
    border-top: none;
    font-family:'Inconsolata', monospace;
    height:500px;
}
